.contact-form{
    padding: 0 3rem 0 3rem;
    display: flex;
    height: 75vh;
    padding-top: 1rem;
    margin-bottom: 5rem;
}

.c-left{
    display: flex;
    flex: 1;
    justify-content: center;
}

.c-right{
    display: flex;
    justify-content: center;
    position: relative;
    flex: 1;
}

.c-right>form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    
}

.c-right .user{
    width: 20rem;
    height: 2rem;
    padding: 0.3em;
    outline: none;
    border: 2px solid var(--orange);
    border-radius: 8px;
    font-size: 16px;   
}

textarea{
    height: 6rem !important;
}

.feedback{
    height: 4rem !important;
}

.c-button{
    width: 6rem;
}

.c-blur1{
    position: absolute;
    width: 22rem;
    height: 14rem;
    border-radius: 50%;
    background: #c1f5ff;
    z-index: -9;
    filter: blur(52px);
}

.c-blur2{
    position: absolute;
    width: 22rem;
    height: 14rem;
    border-radius: 50%;
    background: var(--purple);
    z-index: -9;
    top: 22rem;
    left: 13rem;
    filter: blur(72px);
}

@media screen and (max-width: 480px) {
    .contact-form{
        display: flex;
        flex-direction: column;
        height: 40rem;
        margin-top: -3rem;
        margin-bottom: 7rem;
    }
}