.intro{
    display: flex;
    height: 77vh;
    margin-top: 6rem;
}

.i-left{
    display: flex;
    position: relative;
    flex: 1;
    flex-direction: column;
    gap: 2rem;
}

.i-name{
    display: flex;
    flex-direction: column;
}

.i-name>:nth-child(1){
    color: var(--black);
    font-weight: bold;
    font-size: 3rem;
}

.i-name>:nth-child(2){
    color: var(--orange);
    font-weight: bold;
    font-size: 3rem;
}

.i-name>:nth-child(3){
    color: var(--gray);
    font-weight: 100;
    font-size: 14px;
    margin-top: 10px;
}

.i-button{
    width: 8rem;
}

.i-icons{
    margin-top: 3rem;
    display: flex;
    gap: 0rem;
}

.i-icons>*{
    transform: scale(0.5);
}

.i-icons>*:hover{
    cursor: pointer;
}

.i-right{
    flex: 1;
    position: relative;
}

.i-right>*{
    position: absolute;
    z-index: 1;
}

.i-right>:nth-child(1){
    transform: scale(0.69);
    left: -15%;
    top: -9%;
    /* Check back */
}

.i-right>:nth-child(2){
    transform: scale(0.67);
    left: -3rem;
    top: -4.6rem;
}

.i-right>:nth-child(3){
    transform: scale(0.9);
    left: 18%;
    top: -17%;
}

.i-right>:nth-child(4){
    transform: scale(0.6);
    top: -19%;
    left: -20%;
    border-radius: 50%;
    padding: 0;
}

.fd1{
    top: -4%;
    left: 68%;
}

.fd2{
    top: 25.2rem;
    left: 0.3rem;
}

.blur1{
    position: absolute;
    width: 22rem;
    height: 14rem;
    border-radius: 50%;
    background: #edd0ff;
    z-index: -9;
    top: -18%;
    left: 27rem;
    filter: blur(72px);
}

.blur2{
    position: absolute;
    width: 22rem;
    height: 14rem;
    border-radius: 50%;
    background: #c1f5ff;
    z-index: -9;
    top: 17rem;
    left: -4rem;
    top: 63%;
    filter: blur(52px);
}